/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.user-profile-info-container, .account-forms-container, .add-story-form-container {
  padding-left: 20px;
}

#profile-info-headline {
  margin: 20px 0;
}
